# TMDB — https://www.themoviedb.org/settings/api
TMDB_API_KEY=

# Supabase — https://supabase.com/dashboard/project/<ton-projet>/settings/api
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
